# Telecom Churn Prediction


#### Problem Statement:

In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate.
Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business
goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn. In this project, you will analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn.

In this competition, your goal is to build a machine learning model that is able to predict churning customers based on the features provided for their usage.

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Supress warnings
warnings.filterwarnings('ignore')

## 1. Reading and Understanding the data

In [3]:
# Reading the train data set

Telecom_df = pd.read_csv('train.csv')

In [4]:
#Summary of the data set

Telecom_df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Data columns (total 172 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    id                        69999 non-null  int64
 1    circle_id                 69999 non-null  int64
 2    loc_og_t2o_mou            69297 non-null  float64
 3    std_og_t2o_mou            69297 non-null  float64
 4    loc_ic_t2o_mou            69297 non-null  float64
 5    last_date_of_month_6      69999 non-null  object
 6    last_date_of_month_7      69600 non-null  object
 7    last_date_of_month_8      69266 non-null  object
 8    arpu_6                    69999 non-null  float64
 9    arpu_7                    69999 non-null  float64
 10   arpu_8                    69999 non-null  float64
 11   onnet_mou_6               67231 non-null  float64
 12   onnet_mou_7               67312 non-null  float64
 13   onnet_mou_8               66296 non-null  float64
 14   offnet_mou_6              67231 non-null  float64
 15   offnet_mou_7              67312 non-null  float64
 16   offnet_mou_8              66296 non-null  float64
 17   roam_ic_mou_6             67231 non-null  float64
 18   roam_ic_mou_7             67312 non-null  float64
 19   roam_ic_mou_8             66296 non-null  float64
 20   roam_og_mou_6             67231 non-null  float64
 21   roam_og_mou_7             67312 non-null  float64
 22   roam_og_mou_8             66296 non-null  float64
 23   loc_og_t2t_mou_6          67231 non-null  float64
 24   loc_og_t2t_mou_7          67312 non-null  float64
 25   loc_og_t2t_mou_8          66296 non-null  float64
 26   loc_og_t2m_mou_6          67231 non-null  float64
 27   loc_og_t2m_mou_7          67312 non-null  float64
 28   loc_og_t2m_mou_8          66296 non-null  float64
 29   loc_og_t2f_mou_6          67231 non-null  float64
 30   loc_og_t2f_mou_7          67312 non-null  float64
 31   loc_og_t2f_mou_8          66296 non-null  float64
 32   loc_og_t2c_mou_6          67231 non-null  float64
 33   loc_og_t2c_mou_7          67312 non-null  float64
 34   loc_og_t2c_mou_8          66296 non-null  float64
 35   loc_og_mou_6              67231 non-null  float64
 36   loc_og_mou_7              67312 non-null  float64
 37   loc_og_mou_8              66296 non-null  float64
 38   std_og_t2t_mou_6          67231 non-null  float64
 39   std_og_t2t_mou_7          67312 non-null  float64
 40   std_og_t2t_mou_8          66296 non-null  float64
 41   std_og_t2m_mou_6          67231 non-null  float64
 42   std_og_t2m_mou_7          67312 non-null  float64
 43   std_og_t2m_mou_8          66296 non-null  float64
 44   std_og_t2f_mou_6          67231 non-null  float64
 45   std_og_t2f_mou_7          67312 non-null  float64
 46   std_og_t2f_mou_8          66296 non-null  float64
 47   std_og_t2c_mou_6          67231 non-null  float64
 48   std_og_t2c_mou_7          67312 non-null  float64
 49   std_og_t2c_mou_8          66296 non-null  float64
 50   std_og_mou_6              67231 non-null  float64
 51   std_og_mou_7              67312 non-null  float64
 52   std_og_mou_8              66296 non-null  float64
 53   isd_og_mou_6              67231 non-null  float64
 54   isd_og_mou_7              67312 non-null  float64
 55   isd_og_mou_8              66296 non-null  float64
 56   spl_og_mou_6              67231 non-null  float64
 57   spl_og_mou_7              67312 non-null  float64
 58   spl_og_mou_8              66296 non-null  float64
 59   og_others_6               67231 non-null  float64
 60   og_others_7               67312 non-null  float64
 61   og_others_8               66296 non-null  float64
 62   total_og_mou_6            69999 non-null  float64
 63   total_og_mou_7            69999 non-null  float64
 64   total_og_mou_8            69999 non-null  float64
 65   loc_ic_t2t_mou_6          67231 non-null  float64
 66   loc_ic_t2t_mou_7          67312 non-null  float64
 67   loc_ic_t2t_mou_8          66296 non-null  float64
 68   loc_ic_t2m_mou_6          67231 non-null  float64
 69   loc_ic_t2m_mou_7          67312 non-null  float64
 70   loc_ic_t2m_mou_8          66296 non-null  float64
 71   loc_ic_t2f_mou_6          67231 non-null  float64
 72   loc_ic_t2f_mou_7          67312 non-null  float64
 73   loc_ic_t2f_mou_8          66296 non-null  float64
 74   loc_ic_mou_6              67231 non-null  float64
 75   loc_ic_mou_7              67312 non-null  float64
 76   loc_ic_mou_8              66296 non-null  float64
 77   std_ic_t2t_mou_6          67231 non-null  float64
 78   std_ic_t2t_mou_7          67312 non-null  float64
 79   std_ic_t2t_mou_8          66296 non-null  float64
 80   std_ic_t2m_mou_6          67231 non-null  float64
 81   std_ic_t2m_mou_7          67312 non-null  float64
 82   std_ic_t2m_mou_8          66296 non-null  float64
 83   std_ic_t2f_mou_6          67231 non-null  float64
 84   std_ic_t2f_mou_7          67312 non-null  float64
 85   std_ic_t2f_mou_8          66296 non-null  float64
 86   std_ic_t2o_mou_6          67231 non-null  float64
 87   std_ic_t2o_mou_7          67312 non-null  float64
 88   std_ic_t2o_mou_8          66296 non-null  float64
 89   std_ic_mou_6              67231 non-null  float64
 90   std_ic_mou_7              67312 non-null  float64
 91   std_ic_mou_8              66296 non-null  float64
 92   total_ic_mou_6            69999 non-null  float64
 93   total_ic_mou_7            69999 non-null  float64
 94   total_ic_mou_8            69999 non-null  float64
 95   spl_ic_mou_6              67231 non-null  float64
 96   spl_ic_mou_7              67312 non-null  float64
 97   spl_ic_mou_8              66296 non-null  float64
 98   isd_ic_mou_6              67231 non-null  float64
 99   isd_ic_mou_7              67312 non-null  float64
 100  isd_ic_mou_8              66296 non-null  float64
 101  ic_others_6               67231 non-null  float64
 102  ic_others_7               67312 non-null  float64
 103  ic_others_8               66296 non-null  float64
 104  total_rech_num_6          69999 non-null  int64
 105  total_rech_num_7          69999 non-null  int64
 106  total_rech_num_8          69999 non-null  int64
 107  total_rech_amt_6          69999 non-null  int64
 108  total_rech_amt_7          69999 non-null  int64
 109  total_rech_amt_8          69999 non-null  int64
 110  max_rech_amt_6            69999 non-null  int64
 111  max_rech_amt_7            69999 non-null  int64
 112  max_rech_amt_8            69999 non-null  int64
 113  date_of_last_rech_6       68898 non-null  object
 114  date_of_last_rech_7       68765 non-null  object
 115  date_of_last_rech_8       67538 non-null  object
 116  last_day_rch_amt_6        69999 non-null  int64
 117  last_day_rch_amt_7        69999 non-null  int64
 118  last_day_rch_amt_8        69999 non-null  int64
 119  date_of_last_rech_data_6  17568 non-null  object
 120  date_of_last_rech_data_7  17865 non-null  object
 121  date_of_last_rech_data_8  18417 non-null  object
 122  total_rech_data_6         17568 non-null  float64
 123  total_rech_data_7         17865 non-null  float64
 124  total_rech_data_8         18417 non-null  float64
 125  max_rech_data_6           17568 non-null  float64
 126  max_rech_data_7           17865 non-null  float64
 127  max_rech_data_8           18417 non-null  float64
 128  count_rech_2g_6           17568 non-null  float64
 129  count_rech_2g_7           17865 non-null  float64
 130  count_rech_2g_8           18417 non-null  float64
 131  count_rech_3g_6           17568 non-null  float64
 132  count_rech_3g_7           17865 non-null  float64
 133  count_rech_3g_8           18417 non-null  float64
 134  av_rech_amt_data_6        17568 non-null  float64
 135  av_rech_amt_data_7        17865 non-null  float64
 136  av_rech_amt_data_8        18417 non-null  float64
 137  vol_2g_mb_6               69999 non-null  float64
 138  vol_2g_mb_7               69999 non-null  float64
 139  vol_2g_mb_8               69999 non-null  float64
 140  vol_3g_mb_6               69999 non-null  float64
 141  vol_3g_mb_7               69999 non-null  float64
 142  vol_3g_mb_8               69999 non-null  float64
 143  arpu_3g_6                 17568 non-null  float64
 144  arpu_3g_7                 17865 non-null  float64
 145  arpu_3g_8                 18417 non-null  float64
 146  arpu_2g_6                 17568 non-null  float64
 147  arpu_2g_7                 17865 non-null  float64
 148  arpu_2g_8                 18417 non-null  float64
 149  night_pck_user_6          17568 non-null  float64
 150  night_pck_user_7          17865 non-null  float64
 151  night_pck_user_8          18417 non-null  float64
 152  monthly_2g_6              69999 non-null  int64
 153  monthly_2g_7              69999 non-null  int64
 154  monthly_2g_8              69999 non-null  int64
 155  sachet_2g_6               69999 non-null  int64
 156  sachet_2g_7               69999 non-null  int64
 157  sachet_2g_8               69999 non-null  int64
 158  monthly_3g_6              69999 non-null  int64
 159  monthly_3g_7              69999 non-null  int64
 160  monthly_3g_8              69999 non-null  int64
 161  sachet_3g_6               69999 non-null  int64
 162  sachet_3g_7               69999 non-null  int64
 163  sachet_3g_8               69999 non-null  int64
 164  fb_user_6                 17568 non-null  float64
 165  fb_user_7                 17865 non-null  float64
 166  fb_user_8                 18417 non-null  float64
 167  aon                       69999 non-null  int64
 168  aug_vbc_3g                69999 non-null  float64
 169  jul_vbc_3g                69999 non-null  float64
 170  jun_vbc_3g                69999 non-null  float64
 171  churn_probability         69999 non-null  int64
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

### Data Cleaning

In [49]:
#Checking for unwanted rows

Telecom_df.head()

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,31.277,87.009,7.527,48.58,124.38,1.29,32.24,96.68,2.33,0.00,...,0,0,0.0,0.0,0.0,1958,0.0,0.0,0.0,0
1,0.000,122.787,42.953,0.00,0.00,0.00,0.00,25.99,30.89,0.00,...,0,0,0.0,1.0,0.0,710,0.0,0.0,0.0,0
2,60.806,103.176,0.000,0.53,15.93,0.00,53.99,82.05,0.00,0.00,...,0,0,0.0,0.0,0.0,882,0.0,0.0,0.0,0
3,156.362,205.260,111.095,7.26,16.01,0.00,68.76,78.48,50.23,0.00,...,0,0,0.0,0.0,0.0,982,0.0,0.0,0.0,0
4,240.708,128.191,101.565,21.28,4.83,6.13,56.99,38.11,9.63,53.64,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [50]:
Telecom_df.tail()

,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
69994,15.760,410.924,329.136,0.00,7.36,10.93,0.00,488.46,381.64,14.96,...,1,0,0.0,1.0,1.0,221,0.00,0.00,0.00,0
69995,160.083,289.129,265.772,116.54,196.46,232.63,49.53,96.28,48.06,0.00,...,0,0,0.0,0.0,0.0,712,0.00,0.00,0.00,0
69996,372.088,258.374,279.782,77.13,68.44,78.44,335.54,227.94,263.84,0.00,...,0,0,0.0,0.0,0.0,879,0.00,0.00,0.00,0
69997,238.575,245.414,145.062,14.01,7.64,6.71,30.34,16.68,12.56,25.06,...,0,0,1.0,1.0,1.0,277,664.25,1402.96,990.97,0
69998,168.269,42.815,167.961,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0,0,1.0,0.0,1.0,1876,0.00,0.00,0.00,0

- There is no Incorrect rows - Header rows, footer rows
- There is no Summary rowsTotal, subtotal rows
- There is no Extra rows,Column numbers, indicators, blank rows

In [51]:
for i in Telecom_df.columns:
    print(i)

arpu_6
arpu_7
arpu_8
onnet_mou_6
onnet_mou_7
onnet_mou_8
offnet_mou_6
offnet_mou_7
offnet_mou_8
roam_ic_mou_6
roam_ic_mou_7
roam_ic_mou_8
roam_og_mou_6
roam_og_mou_7
roam_og_mou_8
loc_og_t2t_mou_6
loc_og_t2t_mou_7
loc_og_t2t_mou_8
loc_og_t2m_mou_6
loc_og_t2m_mou_7
loc_og_t2m_mou_8
loc_og_t2f_mou_6
loc_og_t2f_mou_7
loc_og_t2f_mou_8
loc_og_t2c_mou_6
loc_og_t2c_mou_7
loc_og_t2c_mou_8
loc_og_mou_6
loc_og_mou_7
loc_og_mou_8
std_og_t2t_mou_6
std_og_t2t_mou_7
std_og_t2t_mou_8
std_og_t2m_mou_6
std_og_t2m_mou_7
std_og_t2m_mou_8
std_og_t2f_mou_6
std_og_t2f_mou_7
std_og_t2f_mou_8
std_og_mou_6
std_og_mou_7
std_og_mou_8
isd_og_mou_6
isd_og_mou_7
isd_og_mou_8
spl_og_mou_6
spl_og_mou_7
spl_og_mou_8
og_others_6
og_others_7
og_others_8
total_og_mou_6
total_og_mou_7
total_og_mou_8
loc_ic_t2t_mou_6
loc_ic_t2t_mou_7
loc_ic_t2t_mou_8
loc_ic_t2m_mou_6
loc_ic_t2m_mou_7
loc_ic_t2m_mou_8
loc_ic_t2f_mou_6
loc_ic_t2f_mou_7
loc_ic_t2f_mou_8
loc_ic_mou_6
loc_ic_mou_7
loc_ic_mou_8
std_ic_t2t_mou_6
std_ic_t2t_mou_7
std_ic_t2t_mou_8
std_ic_t2m_mou_6
std_ic_t2m_mou_7
std_ic_t2m_mou_8
std_ic_t2f_mou_6
std_ic_t2f_mou_7
std_ic_t2f_mou_8
std_ic_mou_6
std_ic_mou_7
std_ic_mou_8
total_ic_mou_6
total_ic_mou_7
total_ic_mou_8
spl_ic_mou_6
spl_ic_mou_7
spl_ic_mou_8
isd_ic_mou_6
isd_ic_mou_7
isd_ic_mou_8
ic_others_6
ic_others_7
ic_others_8
total_rech_num_6
total_rech_num_7
total_rech_num_8
total_rech_amt_6
total_rech_amt_7
total_rech_amt_8
max_rech_amt_6
max_rech_amt_7
max_rech_amt_8
date_of_last_rech_6
date_of_last_rech_7
date_of_last_rech_8
last_day_rch_amt_6
last_day_rch_amt_7
last_day_rch_amt_8
date_of_last_rech_data_6
date_of_last_rech_data_7
date_of_last_rech_data_8
total_rech_data_6
total_rech_data_7
total_rech_data_8
max_rech_data_6
max_rech_data_7
max_rech_data_8
count_rech_2g_6
count_rech_2g_7
count_rech_2g_8
count_rech_3g_6
count_rech_3g_7
count_rech_3g_8
av_rech_amt_data_6
av_rech_amt_data_7
av_rech_amt_data_8
vol_2g_mb_6
vol_2g_mb_7
vol_2g_mb_8
vol_3g_mb_6
vol_3g_mb_7
vol_3g_mb_8
arpu_3g_6
arpu_3g_7
arpu_3g_8
arpu_2g_6
arpu_2g_7
arpu_2g_8
night_pck_user_6
night_pck_user_7
night_pck_user_8
monthly_2g_6
monthly_2g_7
monthly_2g_8
sachet_2g_6
sachet_2g_7
sachet_2g_8
monthly_3g_6
monthly_3g_7
monthly_3g_8
sachet_3g_6
sachet_3g_7
sachet_3g_8
fb_user_6
fb_user_7
fb_user_8
aon
aug_vbc_3g
jul_vbc_3g
jun_vbc_3g
churn_probability

- There is no missing columns observed
- There is no Inconsistent column names
- No Unique Identifier
- No Misaligned columns
- There is no Columns containing Multiple data values

### Dropping unwanted columns

In [18]:
# Columns having same value across all records hence droping these

for i in Telecom_df.columns[Telecom_df.nunique() <= 1]:
    print(Telecom_df[i].value_counts())

109    69999
Name: circle_id, dtype: int64
0.0    69297
Name: loc_og_t2o_mou, dtype: int64
0.0    69297
Name: std_og_t2o_mou, dtype: int64
0.0    69297
Name: loc_ic_t2o_mou, dtype: int64
6/30/2014    69999
Name: last_date_of_month_6, dtype: int64
7/31/2014    69600
Name: last_date_of_month_7, dtype: int64
8/31/2014    69266
Name: last_date_of_month_8, dtype: int64
0.0    67231
Name: std_og_t2c_mou_6, dtype: int64
0.0    67312
Name: std_og_t2c_mou_7, dtype: int64
0.0    66296
Name: std_og_t2c_mou_8, dtype: int64
0.0    67231
Name: std_ic_t2o_mou_6, dtype: int64
0.0    67312
Name: std_ic_t2o_mou_7, dtype: int64
0.0    66296
Name: std_ic_t2o_mou_8, dtype: int64

In [19]:
Telecom_df.shape

(69999, 172)

In [53]:
# Dropping columns with signle value

DropCol = Telecom_df.columns[Telecom_df.nunique() <= 1].to_frame().index
Telecom_df.drop(DropCol,axis=1,inplace=True)

In [54]:
Telecom_df.shape

(69999, 158)

In [23]:
# 'Id' doesn't add any value since dropping the same

Telecom_df.drop(['id'],axis=1,inplace=True)

In [24]:
# There are no duplicate records

Telecom_df[Telecom_df.duplicated()]

Empty DataFrame
Columns: [arpu_6, arpu_7, arpu_8, onnet_mou_6, onnet_mou_7, onnet_mou_8, offnet_mou_6, offnet_mou_7, offnet_mou_8, roam_ic_mou_6, roam_ic_mou_7, roam_ic_mou_8, roam_og_mou_6, roam_og_mou_7, roam_og_mou_8, loc_og_t2t_mou_6, loc_og_t2t_mou_7, loc_og_t2t_mou_8, loc_og_t2m_mou_6, loc_og_t2m_mou_7, loc_og_t2m_mou_8, loc_og_t2f_mou_6, loc_og_t2f_mou_7, loc_og_t2f_mou_8, loc_og_t2c_mou_6, loc_og_t2c_mou_7, loc_og_t2c_mou_8, loc_og_mou_6, loc_og_mou_7, loc_og_mou_8, std_og_t2t_mou_6, std_og_t2t_mou_7, std_og_t2t_mou_8, std_og_t2m_mou_6, std_og_t2m_mou_7, std_og_t2m_mou_8, std_og_t2f_mou_6, std_og_t2f_mou_7, std_og_t2f_mou_8, std_og_mou_6, std_og_mou_7, std_og_mou_8, isd_og_mou_6, isd_og_mou_7, isd_og_mou_8, spl_og_mou_6, spl_og_mou_7, spl_og_mou_8, og_others_6, og_others_7, og_others_8, total_og_mou_6, total_og_mou_7, total_og_mou_8, loc_ic_t2t_mou_6, loc_ic_t2t_mou_7, loc_ic_t2t_mou_8, loc_ic_t2m_mou_6, loc_ic_t2m_mou_7, loc_ic_t2m_mou_8, loc_ic_t2f_mou_6, loc_ic_t2f_mou_7, loc_ic_t2f_mou_8, loc_ic_mou_6, loc_ic_mou_7, loc_ic_mou_8, std_ic_t2t_mou_6, std_ic_t2t_mou_7, std_ic_t2t_mou_8, std_ic_t2m_mou_6, std_ic_t2m_mou_7, std_ic_t2m_mou_8, std_ic_t2f_mou_6, std_ic_t2f_mou_7, std_ic_t2f_mou_8, std_ic_mou_6, std_ic_mou_7, std_ic_mou_8, total_ic_mou_6, total_ic_mou_7, total_ic_mou_8, spl_ic_mou_6, spl_ic_mou_7, spl_ic_mou_8, isd_ic_mou_6, isd_ic_mou_7, isd_ic_mou_8, ic_others_6, ic_others_7, ic_others_8, total_rech_num_6, total_rech_num_7, total_rech_num_8, total_rech_amt_6, total_rech_amt_7, total_rech_amt_8, max_rech_amt_6, max_rech_amt_7, max_rech_amt_8, date_of_last_rech_6, ...]
Index: []

[0 rows x 158 columns]

### Null value treatment

In [46]:
# Checking for null values
obj = Telecom_df.isnull().sum()
for key,value in obj.iteritems():
    if value > 0 :
        print(key,",",value)

date_of_last_rech_6 , 1101
date_of_last_rech_7 , 1234
date_of_last_rech_8 , 2461
date_of_last_rech_data_6 , 52431
date_of_last_rech_data_7 , 52134
date_of_last_rech_data_8 , 51582

In [47]:
# Checking the number of missing values and its percentage
missing_values_count = Telecom_df.isnull().sum().sort_values(ascending = False)
missing_values_perc = (100*Telecom_df.isnull().sum()/Telecom_df.shape[0]).sort_values(ascending = False)
df_missing_values = pd.concat([missing_values_count,missing_values_perc], axis=1, keys=['Missing Values', 'Missing Values %'])
df_missing_values[df_missing_values['Missing Values %']>0]

                          Missing Values  Missing Values %
date_of_last_rech_data_6           52431         74.902499
date_of_last_rech_data_7           52134         74.478207
date_of_last_rech_data_8           51582         73.689624
date_of_last_rech_8                 2461          3.515765
date_of_last_rech_7                 1234          1.762882
date_of_last_rech_6                 1101          1.572880

In [40]:
#columns where we will impute missing values with zeroes

zero_impute = ['total_rech_data_6', 'total_rech_data_7', 'total_rech_data_8','av_rech_amt_data_6', 
               'av_rech_amt_data_7', 'av_rech_amt_data_8','max_rech_data_6', 'max_rech_data_7', 
               'max_rech_data_8','night_pck_user_6','night_pck_user_7','night_pck_user_8','fb_user_6',
              'fb_user_7','fb_user_8','arpu_3g_6','arpu_3g_7','arpu_3g_8','arpu_2g_6','arpu_2g_7','arpu_2g_8',
              'count_rech_2g_6','count_rech_2g_7','count_rech_2g_8','count_rech_3g_6','count_rech_3g_7',
               'count_rech_3g_8']

# impute missing values with 0
Telecom_df[zero_impute] = Telecom_df[zero_impute].apply(lambda x: x.fillna(0))

In [55]:
#Columns where we will impute missing values with median
#All null values for onnet and offnet minutes of usage voice calls has been replaced 
#with median to keep the distribution

mou = ['onnet_mou_6','onnet_mou_7','onnet_mou_8','offnet_mou_6','offnet_mou_7','offnet_mou_8']
Telecom_df[mou] = Telecom_df[mou].apply(lambda x: x.fillna(x.median()))

In [56]:
#Columns where we will impute missing values with median
#All null values for outgoing and incoming minutes of usage voice calls has been replaced 
#with median to keep the distribution
ogicarray = []
for i in Telecom_df.columns:
    if 'og' in i or 'ic' in i:
        ogicarray.append(i)
    
for i in ogicarray:
    print(i)
print(len(ogicarray))

Telecom_df[ogicarray] = Telecom_df[ogicarray].apply(lambda x: x.fillna(x.median()))

roam_ic_mou_6
roam_ic_mou_7
roam_ic_mou_8
roam_og_mou_6
roam_og_mou_7
roam_og_mou_8
loc_og_t2t_mou_6
loc_og_t2t_mou_7
loc_og_t2t_mou_8
loc_og_t2m_mou_6
loc_og_t2m_mou_7
loc_og_t2m_mou_8
loc_og_t2f_mou_6
loc_og_t2f_mou_7
loc_og_t2f_mou_8
loc_og_t2c_mou_6
loc_og_t2c_mou_7
loc_og_t2c_mou_8
loc_og_mou_6
loc_og_mou_7
loc_og_mou_8
std_og_t2t_mou_6
std_og_t2t_mou_7
std_og_t2t_mou_8
std_og_t2m_mou_6
std_og_t2m_mou_7
std_og_t2m_mou_8
std_og_t2f_mou_6
std_og_t2f_mou_7
std_og_t2f_mou_8
std_og_mou_6
std_og_mou_7
std_og_mou_8
isd_og_mou_6
isd_og_mou_7
isd_og_mou_8
spl_og_mou_6
spl_og_mou_7
spl_og_mou_8
og_others_6
og_others_7
og_others_8
total_og_mou_6
total_og_mou_7
total_og_mou_8
loc_ic_t2t_mou_6
loc_ic_t2t_mou_7
loc_ic_t2t_mou_8
loc_ic_t2m_mou_6
loc_ic_t2m_mou_7
loc_ic_t2m_mou_8
loc_ic_t2f_mou_6
loc_ic_t2f_mou_7
loc_ic_t2f_mou_8
loc_ic_mou_6
loc_ic_mou_7
loc_ic_mou_8
std_ic_t2t_mou_6
std_ic_t2t_mou_7
std_ic_t2t_mou_8
std_ic_t2m_mou_6
std_ic_t2m_mou_7
std_ic_t2m_mou_8
std_ic_t2f_mou_6
std_ic_t2f_mou_7
std_ic_t2f_mou_8
std_ic_mou_6
std_ic_mou_7
std_ic_mou_8
total_ic_mou_6
total_ic_mou_7
total_ic_mou_8
spl_ic_mou_6
spl_ic_mou_7
spl_ic_mou_8
isd_ic_mou_6
isd_ic_mou_7
isd_ic_mou_8
ic_others_6
ic_others_7
ic_others_8
81

In [57]:
# Handling dates columns
dates = ['date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8',
         'date_of_last_rech_data_6','date_of_last_rech_data_7','date_of_last_rech_data_8']

### Outlier treatment

### Deriving new features

## 2. Exploratory Data Analysis/Data Visualization